<%- include('../templates/header') %>
<h1><%= content.title %></h1>
<h3><%= content.description %></h3>
<p>Fecha: <%= content.publishDate %></p>
<p><%= content.content %></p>
<%- include('../templates/footer') %>